{%extends 'base.html'%}


{% block title%} Miguel Figuera Flask Crud {%endblock%}


{% block body%}




<div class="container d-flex justify-content-center">
    <!-- Formulario para crear una nueva tarea usando POST a la ruta /create-task-->
<form action="/create-task" method="POST" class="border rounded p-3" style="width:450px;">
    <h2 class="text-center">Create a To Do</h2>

    <div class="mb-3">
        <label for="task-title" class="form-label">Task</label>
        <input type="text" name="task_title" class="form-control" id="task-title" placeholder="Title...">
      </div>
      <div class="mb-3">
        <label for="task-description" class="form-label">Description</label>
        <textarea class="form-control" name="task_description" id="task-description" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Save Task</button>


</form>
    

</div>





</div>

<div class="container">
    <ul class="list-group">
        <!-- Renderizar las tareas desde la base de datos sqlite3 con los datos correspondientes-->
        {% for task in list_tasks %} 
        
         <li class="border rounded p-3 my-4 list-group-item">
             <h3 class="text-decoration-underline">To do: {{task.title}}</h3>
             <p>ID: {{task.id}}</p>
             <p>Description: {{task.description}}</p>
             <p>Completed?: <strong>{{task.complete}}</strong></p>
             <p>created at: {{task.create_at}}</p>

             <a href="/edit/{{task.id}}" class="btn btn-primary">Edit</a>
             <!--Actualiza la tarea con el id correspondiente, pero solo actualiza la columna complete-->
             <a href="/update/{{task.id}}" class="btn btn-success">Done</a>
             <!--Borra la tarea con el id correspondiente-->
             <a href="/delete/{{task.id}}" class="btn btn-danger">Delete</a>
             

             
         </li>
        
        
        
        
        {%endfor%}

    </ul>


{%endblock%}