.sp-l{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

.sp-n{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
  }

.sp-b{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}